{% extends 'base.html' %}

{% block title %} | Dashboard {% endblock %}
{% block content %}


<!--
  This example requires updating your template:

  ```
  <html class="h-full bg-gray-100">
  <body class="h-full">
  ```
-->
<br><br><br><br><br>
<div class="min-h-full">
   {% include 'includes/messages.html' %}

  <header class="bg-white ">
    <div class="mx-auto max-w-7xl  px-4 sm:px-6 lg:px-8">
      <h4 class="text-2xl font-bold tracking-tight text-gray-600">Welcome <span>{{user.first_name}}</span></h4>
    </div>
  </header>
  <main>
    <div class="mx-auto max-w-7xl py-2 sm:px-6 lg:px-8">
      <!-- Replace with your content -->
      <div class="px-4 py-6 sm:px-0">
        <div class="h-96 ">

<div class="relative overflow-x-auto">
   {% if inquiries %}
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Name
              </th>
              <th scope="col" class="px-6 py-3">
                  Location
              </th>
              <th scope="col" class="px-6 py-3">
                  Action
              </th>
              <th scope="col" class="px-6 py-3">
                  Price
              </th>
          </tr>
      </thead>
      <tbody>
           {% for inquiry in inquiries %}
          <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                {{inquiry.car_title}}
              </th>
              <td class="px-6 py-4">
                {{inquiry.city}}
              </td>
              <td class="px-6 py-4">
                <a href="{% url 'car_detail' inquiry.car_id %}" class="btn btn-outline-dark">View Car</a>
              </td>
              <td class="px-6 py-4">

              </td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  {% else %}
  <h4>You have no inquiries</h4>
{% endif %}
</div>


















        </div>
      </div>
      <!-- /End replace -->
    </div>
  </main>
</div>




























<!--   Dashboard End   -->

{% endblock %}
